# vim: set syntax=zsh:
# -*- shell-script -*-

# Global completion behavior
zstyle ':completion:*' completer _complete _prefix _approximate
zstyle ':completion:*:complete:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}'
zstyle ':completion:*' max-errors 1
zstyle ':completion:*' use-ip true

# Use 'ps -au$USER' for fetch user process list
zstyle ':completion:*:processes' command 'ps -au$USER'

# Verbose mode
zstyle ':completion:*:descriptions' format '%B%d%b'

# Use cache
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.zsh/cache

# prevent CVS files/directory completion
if [[ -x $(which cvs) ]]
then
	zstyle ':completion:*:(all-|)files' ignored-patterns '(|*/)CVS'
	zstyle ':completion:*:cd:*' ignored-patterns '(*/)#CVS'
fi

zstyle ':completion:*' ignore-parents parent pwd

zstyle ':completion:*:*:zless:*' file-patterns '*(-/):directories *.gz:all-files'
zstyle ':completion:*:*:gqview:*' file-patterns '*(-/):directories :(#i)*.(png|jpeg|jpg):all-files'
zstyle ':completion:*:*:lintian:*' file-patterns '*(-/):directories *.deb'
zstyle ':completion:*:*:evince:*' file-patterns '*(-/):directories (#i)*.(pdf|ps)'

zstyle ':completion:*:*:less:*' ignored-patterns '*.gz'
zstyle ':completion:*:*:zcompile:*' ignored-patterns '(*~|*.zwc)'

# few simple completion definitions
compdef _hosts mtr
compdef _hosts rdesktop
compdef _gnu_generic sort

# Some zstyle specific to vi/vim
zstyle ':completion:*:*:vi*:*' file-sort modification
zstyle ':completion:*:*:vi*:*' ignored-patterns '*.(o|class)'

# Prevent aptitude-* to be complete, directly or via sudo
zstyle ':completion:*:complete:-command-::commands' ignored-patterns 'aptitude-*'
zstyle ':completion:*:*:sudo:*:commands' ignored-patterns 'aptitude-*'
